<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="galiphy, hpo, phenotypes, genes, enrichment, prediction, association, human, diseases, analysis, galify">
  <meta name="description" content="FAQs: frequently asked questions. Tutorial: Step-by-step guide for Galiphy users. Example: extensive description of a example research using Galiphy. Algorithm: Mathematical explanation of the enrichment algorithm, how the phenotype scores are computed with bayesian integration.">
  <meta name="author" content="Ilja van Hoek">
  <meta name="google-site-verification" content="jAkrjwWtMnSaV13M6DIlRcf7wxGo-bhe5jkU5D1zTU4">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Galiphy - Help page</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="w3-v-light-grey">

<!-- Top container -->
<div class="w3-container w3-top w3-dark-grey w3-large w3-padding" style="z-index:4">
  <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open();"><img src="{{ url_for('static', filename='menubutton.png') }}" class="w3-circle w3-margin-right" style="width:22px"></i> &nbsp;Menu</button>
  <span class="w3-right">Find <u>G</u>enes <u>A</u>ssociated with your gene <u>LI</u>st using human <u>PH</u>enot<u>Y</u>pes
</span>
</div>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:170px;" id="mySidenav"><br>

  <div class="w3-container">
    <div align="center">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='galiphy_logo.png') }}" alt="Galiphy logo" class="w3-circle w3-margin-right" style="width:56px">
      </a>
      <h5><b><font color="941751">GALIPHY &emsp; </font></b></h5>
    </div>
    <hr>
<h4><b><a href="{{ url_for('index') }}" class="w3-padding w3-hover-green"></i>&nbsp;Home </a></b></h4>
  <a href="{{ url_for('help') }}" class="w3-padding w3-hover-green"></i> &nbsp; <b><font color="941751"> > Help </font></b></a>
  <a href="{{ url_for('reference') }}" class="w3-padding w3-hover-green"></i> > Reference</a>
  <a href="{{ url_for('contact') }}" class="w3-padding w3-hover-green"></i> > Contact</a>
  </div>
</nav>



<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:170px;margin-top:43px;">

    <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h1><b><font color="941751">Help</font></b></h1>
  </header>

  <!-- Three chapters on this page that can be jumped to. -->
  <div class="w3-container" id=top><br><br><br>
    Before seeking contact, be sure to read this Help page carefully.<br><br>

    <div class="btn-group" style="border: 10px solid #F0F0F0;width:60%; margin-left:20%;margin-right:20%">
      <a href="#faqs"><button style="width:25%">FAQs</button></a>
      <a href="#tutorial"><button style="width:25%">Tutorial</button></a>
      <a href="#example"><button style="width:25%">Example</button></a>
      <a href="#algorithm"><button style="width:25%">Algorithm</button></a>
    </div>
  </div>


  <!-- FAQs: Frequently asked questions about Galiphy -->
  <div class="w3-container">
    <h2 id="faqs" class="w3-bottombar w3-border-myred" style="text-align:center"><b><font color="941751"><br>FAQs</font></b></h2>
    <br>
    <div class="w3-container">
      <p>
        <h5><b><font color="703093">Q1 How do I pronounce Galiphy?</font></b></h5>
        The last syllable is pronounced the same as '<b>fly</b>' but without the 'l'.
      </p>
      <p>
        <h5><b><font color="703093">Q2 Is Galiphy worth exploring for me?</font></b></h5>
        <ul>
          <li>You are a clinical professional and interested in some candidate genes that may be associated with a disease.</li>
          <li>You are a researcher and looking for candidate genes not yet discovered to be in your pathway of interest.</li>
          <li>You are already working with genes that are underannotated and looking for more validation for your (clinical) lab experiments.</li>
        </ul>
      </p>
      <p id="Q3">
        <h5><b><font color="703093">Q3 What kind of input is accepted?</font></b></h5>
          Human genes in the format of:
          <ul>
            <li><b>Gene name (symbol)</b>: this format is not preferred as some genes have symbol synonyms.</li>
            <li><b>Entrez gene ID</b>: this is the advised format.</li>
            <li><b>Ensemble gene ID</b>: e.g. ENSG00000228869 and always without version number behind the dot (xxx.1 &#8594; xxx).</li>
          </ul>
          Separated by enters or spaces.

      </p>
      <p id="Q4">
        <h5><b><font color="703093">Q4 How do I get a gene list?</font></b></h5>
        Good question. Larger gene lists get better predictions. Try to increase the size of your list by gathering genes that share a pathway, cellular function, cellular system, disease or co-expression. Maybe there is already a gene list there for your system of interest, like on <a href='https://www.wikipathways.org/index.php/WikiPathways' target='_blank'>WikiPathways</a>, <a href='https://www.omim.org' target='_blank'>OMIM</a>, <a href='https://coexpression.cmbi.umcn.nl/about' target='_blank'>WeGET</a>, <a href='https://www.genome.jp/kegg/pathway.html' target='_blank'>KEGG pathways</a>, <a href='https://reactome.org' target='_blank'>Reactome</a> etc. Once you have your list of genes for a given biological process, you’re ready to see which phenotypes and other genes are associated using Galiphy.

      </p>
      <p>
        <h5><b><font color="703093">Q5 Is my gene list too short? </font></b></h5>
        Not all genes that you enter will run through the algorithm. Some genes will be dropped from the query because they are not listed in the phenotype database HPO. It is typical that around half the genes are dropped. It helps to start with at least 10 genes that are listed in HPO.<br>
        Galiphy tends to have better prediction power with the following factors: 
        <ul>
          <li>Abundant phenotype annotation of the query genes</li>
          <li>Similarity of the phenotypes among the query genes</li>
          <li>Length of the query gene list</li>
        </ul>
        Take all of the above into consideration and always look at the output critically. As is typical with genomic tools, more genes is always better. 
      </p>
      <p>
        <h5><b><font color="703093">Q6 What is the easiest way to view the output files?</font></b></h5>
        Open Excel, open the scoring files from here (File > Open) or right-click the file in your Download folder and click 'open in Excel'. Sorting the columns in Excel is a good way to explore the results of the analysis.
  
      </p>
      <p id="Q7">
        <h5><b><font color="703093">Q7 What can I do to validate the results? </font></b></h5>
        Like in the <a href="{{ url_for('reference') }}" class="w3-text-green w3-hover-text-red" >Galiphy article</a>, you can use several methods:<br><br>
        <b> Statistical methods:</b>
        <ul>
          <li>Statistical methods (with GSEA, ROC, Precision rank plot)</li>
          <li>Literature</li>
          <li>Functional correlation (with WeGET and STRING)</li>
          <li>GSEA, gene set enrichment analysis.</li>
        </ul>
        Please see <a href="#example_results" class="w3-text-green w3-hover-text-red" >example results</a> for a more in-depth explanation.
      </p>

    <p>
      <a class="two" href="#top">
        Go to top
      </a>
    </p>
  </div>


  <!-- Tutorial: stepwise explanation of the tool and its formula -->
  <div class="w3-container">
    <h2 id="tutorial" class="w3-bottombar w3-border-myred" style="text-align:center"><b><font color="941751"><br>Tutorial</font></b></h2>
    <div class="w3-container">
      <h3 class="w3-bottombar w3-border-white"><b>Step 1: </b>Gene list</h3>
      <h5><b><font color="009193"> What Galiphy does: </font></b></h5>
      Galiphy recognizes different types of gene entries (gene symbols, Entrez gene IDs and Ensembl gene IDs). 
      Not all recognized genes are listed in the <a href="https://hpo.jax.org/app/" class="w3-text-green w3-hover-text-red" target="_blank"> HPO database</a>. Galiphy drops genes from your input gene list if they are not in HPO. 

      <h5><b><font color="074080"> What you should do: </font></b></h5>
      Provide a gene list using gene symbols, Entrez gene IDs or Ensembl gene IDs separated by enters or spaces. Click the submit button. 
      <br>
      <img src="{{ url_for('static', filename='Tutorial_step1_mitocarta.png') }}" title="This is an image" style="width:236px">
      <br><br>

      <h3 class="w3-bottombar w3-border-white"><b>Step 2: </b> Calculations</h3>
      <h5><b><font color="009193"> What Galiphy does: </font></b></h5>
      Galiphy starts scoring. First, it generates a phenotype score for each phenotype in the database. Galiphy takes all phenotypes, determines how often each phenotype occurs in the query and how often it occurs in the rest of the HPO database. The phenotype score formula uses these frequencies to generate the phenotype score. Then, Galiphy adds all the scores of the phenotypes that belong to one gene which results in the gene score. More about scoring in step 4 and the <a href="#algorithm" class="w3-text-green w3-hover-text-red" >algorithm</a> section.

      <h5><b><font color="074080"> What you should do: </font></b></h5>
      Wait 5 seconds.
      <br><br>

      <h3 class="w3-bottombar w3-border-white"><b>Step 3: </b> Results</h3>

      <h5><b><font color="009193"> What Galiphy does: </font></b></h5>
      Galiphy writes your results in three files, the phenotype scores, the gene scores and the gene-to-phenotype file (the last file is mainly used for quality assessment).

      <h5><b><font color="074080"> What you should do: </font></b></h5>
      Hit the download button to obtain all files; phenotype scores, the gene scores and the gene-to-phenotype file. It is important to take a look at the result page, in particular at column information of the files, input information and error alerts.
      <br><br>

      <h3 id="step4" class="w3-bottombar w3-border-white"><b>Step 4: </b> Interpretation of the results</h3>
      <h5><b><font color="009193"> What Galiphy does: </font></b></h5>
      He is done, he can rest now.

      <h5><b><font color="074080"> What you should do: </font></b></h5>
      Import the scoring files in Excel (or right-click the file > 'open in Excel') or any other preferred program. And read about the files below.
      <br><br>

      <div class="w3-container">
        <h5><b>The phenotype scoring file</b></h5>
        <div class="w3-container w3-twothird">
          The phenotype file shows you which phenotypes are most typical for your genes of interest. Besides the scores, you should also look at the frequency columns to understand how typical a phenotype is. The probability of finding any phenotype amongst the query list is dependent on the length of the query gene list. So HPO consists of {{ genes_in_HPO }} genes and if the query list (<font class='formula'>Q</font>) contains 393 genes then the 'non-query list' (<font class='formula'>nQ</font>) has {{ genes_in_HPO - 393 }} genes.<br><br>
          A high score means that the phenotype appears relatively often among your query genes. A good scoring phenotype could be linked to 29 of your query genes (<font class='formula'>q</font>) and to none of the non-query genes (<font class='formula'>nq</font>). This results in the Phenotype score of 11.28. <br><br>
          Sometimes you encounter frequencies of 0.1, these were zeroes that changed to 0.1 to prevent mathematical error in the formula.<br>
      
        </div> 
        <div class="w3-container w3-third">
          <a href="{{ url_for('static', filename='Tutorial_Example_phenotype_scores.png') }}" target="_blank"><img src="{{ url_for('static', filename='Tutorial_Example_phenotype_scores.png') }}" style="width:300px"></a>
          <p style="font-size:0.8em">
            <i>Click on image to show full size in a new window.</i>
          </p><br><br><br><br>
        </div>


      </div>
      <br><br>

      <div class="w3-container">
        <h5><b>The gene to phenotype file</b></h5>
        <div class="w3-container w3-half" style="min-width: 400px">
          <br>
          <a href= "{{ url_for('static', filename='Tutorial_Example_phen_to_gene.png') }}" target="_blank">
            <img src="{{ url_for('static', filename='Tutorial_Example_phen_to_gene.png') }}" style="width:400px">
          </a>
        </div>
        <div class="w3-container w3-half">
          <br>
          This file allows you to see the phenotypes of each gene and how the addition of phenotype scores resulted in a gene score. If you click the image you can see the phenotype scores of the two query genes ATP5F1A and ATP5F1E.<br><br>  
          <b>The gene score is simply calculated by adding all the belonging phenotype scores.</b><br><br>
          You can observe how some phenotypes have little influence on the gene score, like <i>autosomal recessive inheritance</i>. Some have some influence, like <i>nystagmus</i>. Only a few have high influence, like <i>high pitched cry</i> and <i>decreased activity of mitochondrial ATP synthase complex</i>. 
        </div>
      </div> 
      <br><br>

      <div class="w3-container">
        <h5><b>The gene scoring file</b></h5>
        <div class="w3-container w3-twothird">
          This file is the main result for most research questions.<br><br>
          Shows the scores of all {{ genes_in_HPO }} genes present in HPO. Galiphy sorted the genes on score. In the image, you can see the 17 highest scoring genes. The query column depicts whether the gene is (<font class='formula'>1</font>) or is not (<font class='formula'>0</font>) in your query gene list. <br><br>

          High scoring genes have phenotypes very similar to the phenotypes of your query genes.          
          Therefore, the non-query genes ranked high in this file are your candidate genes.<br><br>

        </div>
        <div class="w3-container w3-third">
          <a href="{{ url_for('static', filename='Tutorial_Example_gene_scores.png') }}" target="_blank">
            <img src="{{ url_for('static', filename='Tutorial_Example_gene_scores.png') }}" style="width:200px">
          </a>
        </div>
      </div>
      <p>
        <a class="two" href="#top">
          Go to top
        </a>
      </p>
    </div>
    <br>
  </div>




  <!-- Example: example research question and resulting Galiphy files walk-through -->
  <div class="w3-container">
    <h2 id="example" class="w3-bottombar w3-border-myred" style="text-align:center"><b><font color="941751"><br>Example</font></b></h2>
    <div class="w3-container"> 
      <br>
      We made Galiphy with mitochondrial disorders (MD) as our research interest. Our goal was to find genes associated with the mitochondrion but were not yet listed in Mitocarta. <a href="https://www.broadinstitute.org/files/shared/metabolism/mitocarta/human.mitocarta2.0.html" class="w3-text-green w3-hover-text-red" target="_blank">Mitocarta2.0</a> consist of 1248 genes, which serves as the input list in this example. The proteins of these genes are known to be localized in the mitochondrion. After using Galiphy, clinical experts took these interesting candidate genes into consideration in diagnostics and experimental validation.
      <br><br><br>
    </div>
    <div class="w3-container">
      <h3><b><font color="511794">Input</font></b></h3>

      <h6><b>Gene IDs over gene names</b></h6>
      When you download Mitocarta2.0, you can easily select one column and copy-paste it into the input field of Galiphy on the home page. Copy-pasting the gene name column is allowed but will get you disappointed later as Galiphy tells you on the result page that a significant number of genes are not recognized. This is because some of the gene names are not up to date and are nowadays synonyms of genes. 
      <br>
      Therefore, we recommend you to use the <a href="{{ url_for('static', filename='mitocarta_gene_IDs.txt') }}" class="w3-text-green w3-hover-text-red" target='_blank'><b>gene ID column</b></a>.
      <h6><b>Input evaluation</b></h6>
      Galiphy can only run with the genes that are described in HPO. You can see which genes are found in HPO and which not on the result page. From the 1148 Mitocarta genes, 393 genes are listed in HPO. The other 765 genes are dropped from the algorithm.
      <br><br><br>
    </div>
    <div class="w3-container" id="example_results">
      <h3><b><font color="511794">Results</font></b></h3>

      The following files are made by Galiphy:
      <div style="overflow:hidden">
        <br><br>
        <a href="{{ url_for('static', filename='Example_phen_scores_file.tsv') }}" class='blauw'>
          <b>Phenotype scores file</b>
        </a>
        <span style="float:right">
          <a href="{{ url_for('static', filename='Example_phen_scores_image.png') }}" target="_blank" class='blauw'>
            Or click here for a screenshot of the file
          </a>
        </span>
        <br><br><br>
        <a href="{{ url_for('static', filename='Example_genes_to_phen_file.tsv') }}" class='rood'>
          <b>Genes to phenotypes file</b>
        </a>
        <span style="float:right">
          <a href="{{ url_for('static', filename='Example_genes_to_phen_image.png') }}" target="_blank" class='rood'>
          Or click here for a screenshot of the file
          </a>
        </span>
        <br><br><br>
        <a href="{{ url_for('static', filename='Example_gene_scores_file.tsv') }}" class='groen'>
          <b>Gene scores file</b>
        </a>
        <span style="float:right">
          <a href="{{ url_for('static', filename='Example_gene_scores_image.png') }}" target="_blank" class='groen'>
            Or click here for a screenshot of the file
          </a>
        </span>
        <br><br><br>
        <font color="grey"><i>Open Downloads > right-click the file > open in Excel. In Excel, press ctr+a and make a table in order to sort the columns easily.</i></font>
        <br> 
        <div class="v1">
          <div class="v2">
            <div class="v3">
              <div style="margin:10px">
                <h5 class="w3-bottombar w3-border-blue"><b>Phenotype scores</b></h5>
                All phenotypes in HPO are given a score. The phenotypes with the highest scores can be seen as the ones that are most typical for mitochondrial disorders (MD). You should look critically at this file because it could give you interesting information:
                <p>
                  <b>Using clinical knowledge to edit the query gene list</b>
                  <br>
                  If some phenotypes are not common for the disease according to your clinical knowledge, consider eliminating the genes that are disrupting the quality of the phenotype profile from your query list in order to get more reliable results. <br>
                  In our study, SDH gene defects caused two specific types of cancer. All six SDH genes were therefore removed from the query list. Galiphy was run again which resulted in better phenotype scoring. 
                </p>
                <p>
                  <b>Look for interesting numbers</b>
                  <br>
                  When a phenotype is clinically relevant to MD and only a few non-query genes assigned to it, pay attention to the non-query genes as they could be interesting genes. Find more information about these genes in the next file, 'genes to phenotypes'. 
                </p>
                <p>
                  <b>'Useless' phenotypes</b>
                  <br>
                  Some phenotypes only occur once in the HPO database. These phenotypes are not valuable for the scoring of the genes because they do not give information about how typical a phenotype is.
                </p>
                <p>
                  <b>Make plots</b>
                  <br>
                  Get an insight on how the phenotype scores are distributed and which scores are exceptionally high or low by making a distribution plot of the scores.
                </p>
                <br><br>
              </div>
            </div>
            <div style="margin:20px">
              <h5 class="w3-bottombar w3-border-myred"><b>Genes to phenotypes</b></h5>
              This file lists all genes in HPO together with their phenotypes and phenotype scores. It tells you how each gene got its gene score as the score results from adding all phenotype scores. Most likely, you will look at this file after you have curated the gene score or the phenotype file. You could look for the phenotypes with which one specific gene of interest is associated with.
              <p>
                <b>Phenotype to gene association</b><br>
                If you sort on phenotypes you can see which genes are assigned to that specific phenotype of interest. This way, you created the reversed file, the phenotype to gene file. 
              </p>
              <p>
                <b></b>
              </p>
              <br>
            </div>
          </div>
          <div style="margin:30px"> <h5 class="w3-bottombar w3-border-green"><b>Gene scores</b></h5>
            Most important file for our research question. The genes that have a high gene score and are not in Mitocarta are our candidate genes. These genes got their high scores because the phenotypes they are associated with are similar to the phenotypes of the input genes.   
            <p>
              <b>Function of single candidate genes</b><br>
              Use databases like <a href='https://www.genecards.org' class="w3-text-green w3-hover-text-red" target='_blank'>GeneCards</a> to get an overview of function, localization and diseases the gene is associated with. The example file shows you that the highest scoring non-query gene is <a href='https://www.genecards.org/cgi-bin/carddisp.pl?gene=MT-TS1&keywords=trns1' class="w3-text-green w3-hover-text-red" target='_blank'>TRNS1</a>, a mitochondrially encoded tRNA Serine gene. 
            </p>
            <p>
              <b>Analysis of multiple candidate genes</b><br>
              Look for correlation between the candidate genes. You could take the best 200 scoring non-query genes and put them into online tools like <a href='https://coexpression.cmbi.umcn.nl/about' class="w3-text-green w3-hover-text-red" target='_blank'>WeGET</a> co-expression or  with <a href='https://string-db.org' class="w3-text-green w3-hover-text-red" target='_blank'>String</a>'s enrichment analysis for KEGG pathways and GO biological processes. In the <a href="{{ url_for('reference') }}" class="w3-text-green w3-hover-text-red" >Galiphy article</a> you can find the results of these tools in Appendix V and VI. 
            </p>
            <p>
              <b>Edit your gene list again</b><br>
              To make a more specific 'phenotype fingerprint' the query gene list was adjusted again (the first time is described in the phenotype file explanation above). This time, genes in the oxidative phosphorylation (OXPHOS) pathway were put in the query gene list in order to optimize prediction quality.  
            </p>
            <p>
              <b>Make plots</b><br>
              A distribution plot like <a href="{{ url_for('static', filename='Figure4_plots.png') }}" class="w3-text-green w3-hover-text-red" target="_blank">
                Figure 4A and B
              </a> shows you how your query genes score in comparison to the non-query genes.
              An overview of how the genes are ranked can be seen in 
              <a href="{{ url_for('static', filename='Figure5_plots.png') }}" class="w3-text-green w3-hover-text-red" target="_blank"> 
                Figure 5B
              </a>
              .
            </p>                        
              <b></b><br>


            <br>
          </div>
        </div>
        <p>
          <b>Statistical plots for validation of the prediction</b><br>
          If you would like to use statistical methods to measure the quality of the Galiphy results, you can use the following analyses:       
          <ul>
            <li>GSEA, gene set enrichment analysis.</li>
            <li>ROC, receiver operating characteristic curve. The area under the curve (AUC) can be used as a prediction evaluation.</li>
            <li>Precision rank plot: precision (positive prediction) value vs. rank.</li>
          </ul>
          These can also be found in <a href="{{ url_for('static', filename='Figure5_plots.png') }}" class="w3-text-green w3-hover-text-red" target="_blank">Figure 5ACD</a> of the Galiphy article. 
        </p>        
      </div>
    </div>
    <p>
      <a class="two" href="#top">
        Go to top
      </a>
    </p>
  </div>


  <div class="w3-container">
    <h2 id="algorithm" class="w3-bottombar w3-border-myred" style="text-align:center"><b><font color="941751"><br>Algorithm</font></b></h2>
    <br><br>
    Galiphy’s algorithm is based on the enrichment of phenotypes in the input list of genes. <br>
    Phenotypes are scored using the following principles: <br>
    <ol>
      <li>Phenotypes that are more often associated with the query genes should score higher than phenotypes that are more often associated with the non-query genes. </li>
      <li>If, for instance, HPO annotates 75 genes of the query, the remaining {{ genes_in_HPO - 75 }} genes are automatically defined as non- query genes.</li>
      <li>Prior is taken into account, meaning that the relative chances of finding phenotypes in each query list are incorporated. </li>
    </ol>
    <br>
    <p>
      After the client provides an input gene list, all HPO phenotypes are gathered of those genes and of the genes that are not input genes. Then, each phenotype is given a score:
    </p>
    <div class="w3-container w3-col">
      <div class='w3-threequarter w3-white' style="margin-left:70px; margin-right: 70px;margin-top:20px;margin-bottom:20px;padding:10px;border: solid 6px #941751">
        <h4 style="margin-left:4em; color:#941751"><b>The formula for phenotype scoring</b></h4>
        <div>
          <div class="w3-container w3-half" style="text-align:right">
            <br>Example numbers<br>
            <i>
              q = 3 of Q = 393 <br>
              nq = 32 of nQ = {{ genes_in_HPO - 393 }} <br>
              tot = 35 of T = {{ genes_in_HPO }}
            </i>
          </div>
          <div class="w3-container w3-half" style="min-width: 300px;padding-left:30px">
            <br><br>
            <img src="{{ url_for('static', filename='formula1.png') }}" style="width:280px">
            <br><br>
          </div>
        </div>
        <div class="w3-container">
          <br>
          Where <font class='formula'>q</font> is the phenotype frequency among the query gene list <font class='formula'>Q</font> and <font class='formula'>nq</font> is the phenotype frequency among the non-query gene list <font class='formula'>nQ</font>.
          <br><br>
          Note: If one of the variables is zero, a mathematical error must be prevented. 
          <font color=#45A9A6>
            <span class="tooltip_h">Read
              <span class="tooltiptext_h" style="font-size:0.75em">
                When a phenotype is not found among the query genes (<font style="font-size:0.9rem" class='formula'>q</font>) or the non-query genes (<font style="font-size:0.9rem" class='formula'>nq</font>), <b>zero is replaced by 0.1</b> to prevent mathematical errors (due to division by zero for <font style="font-size:0.9rem" class='formula'>nq</font>=0, and the undefined logarithm of zero for <font style="font-size:0.9rem" class='formula'>q</font>=0).
              </span>
            </span>
          </font>
          how.
        </div>
        <br>
        <div class="w3-container">
          <i>
          The scoring is based on how many times one phenotype occurs in the query gene list compared to the rest of the genes. So 3 of the 393 query genes have the phenotype and 32 of the {{ genes_in_HPO - 393 }} non-query genes have the phenotype. When the relative frequency among both gene lists is almost the same, the phenotype is not typical nor atypical, thus a neutral score is favored. <br>Try to calculate (or estimate) the score for this example phenotype. </i>
          <p style="text-align:right; color:#F0F0F0" >        
            Psst... The answer is 0.31
          </p>
          
        </div>
      </div>
    </div>
    <p>
      Once all {{ genes_in_HPO }} phenotypes are given a score, the phenotypes are mapped back to their associated genes.<br>
      Then, each gene is scored as follows:
    </p>
    <div class="w3-container w3-col">
      <div class='w3-threequarter w3-white' style="margin-left:70px; margin-right: 70px;margin-top:20px;margin-bottom:20px;padding:10px;border: solid 6px #941751">
        <h4 style="margin-left:4em; color:#941751"><b>The formula for gene scoring</b></h4>
        <div>
          <div class="w3-container w3-half" style="text-align:right">
            <br>Example numbers<br>
            <i>
            PS<sub>1</sub> = 4.23<br>
            PS<sub>2</sub> = 2.50<br>
            PS<sub>3</sub> = -1.20<br>
            </i>
          </div>
          <div class="w3-container w3-half" style="min-width: 300px;padding-left:30px">
            <br><br>
            Gene score = <font class='formula'><font class="w3-xlarge">&#931;</font>PS<sub>all</sub></font>
            <br><br><br>
          </div>
        </div>
        <br><br>
        <p>
          Where <font class='formula'>PS<sub>all</sub></font> are all the phenotype scores of the phenotypes the gene is linked to in the HPO database. <br>Calculate (or estimate) the gene score of this example gene.
          <p style="text-align:right; color:#F0F0F0" >        
            The answer is 5.53
          </p>
        </p>
      </div>


      
    </div>
    <p>
      <a class="two" href="#top">
        Go to top
      </a>
    </p>
  </div>




  <!-- End page content -->
</div>

<script>
  // Get the Sidenav
  var mySidenav = document.getElementById("mySidenav");

  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");

  // Toggle between showing and hiding the sidenav, and add overlay effect
  function w3_open() {
      if (mySidenav.style.display === 'block') {
          mySidenav.style.display = 'none';
          overlayBg.style.display = "none";
      } else {
          mySidenav.style.display = 'block';
          overlayBg.style.display = "block";
      }
  }

  // Close the sidenav with the close button
  function w3_close() {
      mySidenav.style.display = "none";
      overlayBg.style.display = "none";
  }
</script>



<div id=footercredits class="w3-container w3-dark-grey w3-padding" style="z-index:4" >
  <span style="float: right;">Galiphy &copy; made by Ilja van Hoek</span>
</div> 

</body>
</html>